@page "/"
@inject IGameManagerService GameManagerService
@inject NavigationManager NavManager

<button class="btn btn-primary" @onclick="@(async () => OnGameCreated())">
    New Game
</button>

@code {
    private async Task OnGameCreated()
    {
        var gameId = await GameManagerService.CreateGame();

        NavManager.NavigateTo($"/game/{gameId}");
    }
}