@page "/"
@inject IGameManagerService _gameManagerService
@inject NavigationManager _navManager
@inject AuthenticationStateProvider _authStateProvider

<button class="btn btn-primary" @onclick="@(async () => await OnGameCreated())">
    New Game
</button>

@code {
    private async Task OnGameCreated()
    {
        var authState = await _authStateProvider.GetAuthenticationStateAsync();

        var gameId = await _gameManagerService.CreateGame(authState.User.Identity.Name);

        _navManager.NavigateTo($"/game/{gameId}");
    }
}