@page "/"
@inject IGameManagerService _gameManagerService
@inject NavigationManager _navManager
@inject AuthenticationStateProvider _authStateProvider


<div class="layout">

    <div class="hero-container">

        <AuthorizeView>
            <Authorized>
                <h1>Start a game or play in sandbox</h1>
                <div class="btn-container">
                    <NavLink href="/sandbox" class="btn btn-yellow">
                        Sandbox
                    </NavLink>
                    <button class="btn btn-yellow" @onclick="@(async () => await OnGameCreated())">
                        New Game
                    </button>
                </div>
            </Authorized>
            <NotAuthorized>
                <h1>
                    Register to play with friends or play by yourself in sandbox mode
                </h1>
                <NavLink href="/sandbox" class="btn btn-yellow">
                    Sandbox
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>

    </div>
    <div class="showcase-container">
        <ShowcaseGrid />
    </div>
</div>

@code {
    private async Task OnGameCreated()
    {
        var authState = await _authStateProvider.GetAuthenticationStateAsync();

        var gameId = await _gameManagerService.CreateGame(authState.User.Identity.Name);

        _navManager.NavigateTo($"/game/{gameId}");
    }
}